/* Configurações globais*/

*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
}
/* Raiz para Fontes */
:root {
    --fonte-paragrafo: "Open Sans",  system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --titulos: "Jost",  sans-serif;
    --fonte-destaque: "Poppins",  sans-serif;
  }
  
  /* Cores globais do site. As alterações das cores fazem-se aqui */
  :root { 
    --variado-color: #ffffff;/* Para criar um contraste com o fundo preto */
    --background-color: #202753; /* cores de Fundos para as sessões */
    --normal-color: #c6c9e8; /*  */
    --destaques-color:#f29200; /* cor para relçar as cores do site */
    --contrast-color: #000000; /* The contrast color is used for elements when the background color is one of the heading, accent, or default colors. Its purpose is to ensure proper contrast and readability when placed over these more dominant colors */
    --paragrafo-color: #1f284fb5; /* Cor para os pagrafos e textos longos*/
    --link-color: #dfe1f1; /* Cor para os links*/
  }

 /*--------------------------------------------------------------
#Configurações globais
--------------------------------------------------------------*/


*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
}
body {

    background-color: var(--background-color);
    width: 100%;
    height: 100vh;  
    
}

a {
    color:var(--link-color) ;
 
  
}

a:hover {
    color: var(--destaques-color);
  
}


h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--destaques-color);
  font-family: var(--titulos);
}
hr{
  color: #c6c9e8;
  width: 60%;
  margin: 0px;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
position: fixed;
inset: 0;
z-index: 999999;
overflow: hidden;
background:var(--background-color);
transition: all 0.6s ease-out;

}

#preloader:before {
content: "";
position: fixed;
top: calc(50% - 30px);
left: calc(50% - 30px);
border: 6px solid #ffffff;
border-color: var(--destaques-color);
border-top: none;
border-radius: 50%;
width: 60px;
height: 60px;
animation: animate-preloader 1.5s linear infinite;
}

@keyframes animate-preloader {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }

  /*--------------------------------------------------------------
# Header.
--------------------------------------------------------------*/

header{
    background-color: #1f284f;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index:12;
}
header .social-media i{
    color: var(--destaques-color);
    background-color: #059652
}
  .navbar{
    justify-content: space-between;
      
     
  }
  .logo img{
      width: 60px;
      height: 70px;
  }
  .nav-menu{
      display: flex;
      gap: 20px;
   
     
  }
  .navega-menu{
    width: 80%;
    transition: .6s;
  }
  .nav-link{
    color: #c6c9e8;
  }
  
  
  .hamburguer{
      display: block;
      cursor: pointer;
  
  }
  .bar{
      display: block;
      width: 28px;
      height: 3px;
      border-radius: 2px;
      margin: 5px auto;
      background-color: var(--destaques-color);
      transition: all 0.3s;
  
  
  }
  .hamburguer.active .bar:nth-child(2){
    opacity:0; 
  }
  .hamburguer.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }
  .hamburguer.active .bar:nth-child(3){
     transform: translateY(-8px) rotate(-45deg);
  }
  
  .nav-menu{
    display: none;
     transition: .6s;
  }
  .nav-item{
    background-color: #f29200;    
  }
  .nav-menu.active{
    background-color:#1f284fe4;
    backdrop-filter: blur(10px);
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed;
    z-index: 12;
    top: 15%;
    width: 300px;
    height: 100%;   
     
  }
  .nav-menu a{
    color: var(--link-color);
    transition: .6s;
  }

  .nav-menu a:hover{
    color: #f291009d;
    
  }
  .nav-menu a i{
    margin-right: 10px;
  }
  .redes-sociais a{
    color: #f29200; 
    background-color: #df1529;
    
  }
  
   /*--------------------------------------------------------------
  # Responsive nave menu.
  --------------------------------------------------------------*/
  @media (max-width:320px){
      .hamburguer{
          display: block;
      }
      .hamburguer.active .bar:nth-child(2){
          opacity:0; 
      }
      .hamburguer.active .bar:nth-child(1){
         transform: translateY(8px) rotate(45deg);
      }
      .hamburguer.active .bar:nth-child(3){
          transform: translateY(-8px) rotate(-45deg);
       }
       h3{
        margin-top: 20px;
       }
  
       header{
        background-color: #1f284f;
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 12;
       }
       
       
       .nav-menu{
        position: fixed;
        top: 100%;
        transition:.3s;
        
        
       }
       .nav-item{
    
       }
       .nav-menu.active{
        width: 100%;
        height: 100%;
        background-color: #1f284fe1;
        backdrop-filter: blur(10px);
        margin: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        position: fixed;
        z-index: 12;
        top: 15%;
       }
      }



/*--------------------------------------------------------------
  # Hero carrosel.
  --------------------------------------------------------------*/


.hero-carrosel{
    margin-top: 7%;
    height: 150px;
    background-color:rgba(233, 226, 226, 0.696);
    display: flex;
    justify-content: center;
    align-items: center;
}


  /*--------------------------------------------------------------
# Hero Section.
--------------------------------------------------------------*/
.hero {
    background-color: #141a34;
    width: 100%;
    min-height: 100vh;
    position: relative;
    padding: 120px 0 60px 0;
    display: flex;
    align-items: center;
  }
  
  
  .hero h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
  }
  
  .hero p {
    color:var(--normal-color);
    margin: 5px 0 30px 0;
    font-size: 22px;
    line-height: 1.3;
    font-weight: 600;
  }
  
  .hero .btn-get-started {
    color:#000000;
    background: #c6c9e8;
    font-family: var(--heading-font);
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 28px 12px 28px;
    border-radius: 50px;
    transition: 0.5s;
  }
  
  .hero .btn-get-started:hover {
    color: #f29200;
    background: color-mix(in srgb, var(--accent-color), transparent 15%);
  }
  
  .hero .btn-watch-video {
    font-size: 16px;
    transition: 0.5s;
    margin-left: 25px;
    color: #f29200;
    font-weight: 600;
  }
  
  .hero .btn-watch-video i {
    color:#c6c9e8 ;
    font-size: 32px;
    transition: 0.3s;
    line-height: 0;
    margin-right: 8px;
  }
  
  .hero .btn-watch-video:hover {
    color: #f2910071;
  }
  
  .hero .btn-watch-video:hover i {
    color: color-mix(in srgb, var(--accent-color), transparent 15%);
  }
  
  .hero .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
  }
  
  @media (max-width: 640px) {
    .hero h1 {
      font-size: 28px;
      line-height: 36px;
    }
  
    .hero p {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 30px;
    }
  
    .hero .btn-get-started,
    .hero .btn-watch-video {
      font-size: 13px;
    }
    
  }

  @keyframes up-down {
    0% {
      transform: translateY(10px);
    }
  
    100% {
      transform: translateY(-10px);
    }
  }


      /*--------------------------------------------------------------
# Global Section Titles
--------------------------------------------------------------*/
.section-title {
    margin-top: 20px;
    text-align: center;
    padding-bottom: 60px;
    position: relative;
  }
  
  .section-title h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 20px;
    text-transform: uppercase;
    position: relative;
  }
  
  .section-title h2:before {
    content: "";
    position: absolute;
    display: block;
    width: 160px;
    height: 1px;
    background: color-mix(in srgb, var(--background-color), transparent 60%);
    left: 0;
    right: 0;
    bottom: 1px;
    margin: auto;
  }
  
  .section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 60px;
    height: 3px;
    background: var(--heading-color);
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
  
  .section-title p {
    margin-bottom: 0;
  }
  

  .about{
    background-color: #c6c9e8;
  }





  /*--------------------------------------------------------------
# Global Footer
--------------------------------------------------------------*/
.footer {
    color:var(--normal-color);
    background-color: var(--background-color);
    font-size: 14px;
    padding-bottom: 50px;
    position: relative;
  }
  
  .footer .footer-newsletter {
    background-color: #141a34;
    padding: 50px 0;
  }
  
  .footer .footer-newsletter h4 {
    font-size: 24px;
  }
  
  .footer .footer-newsletter .newsletter-form {
    margin-top: 30px;
    padding: 6px 8px;
    position: relative;
    background-color: color-mix(in srgb, var(--background-color), transparent 50%);
    border: 1px solid color-mix(in srgb, var(--background-color), transparent 90%);
    box-shadow: 0px 2px 25px color-mix(in srgb, var(--background-color), transparent 95%);
    display: flex;
    transition: 0.3s;
    border-radius: 50px;
  }
  
  .footer .footer-newsletter .newsletter-form:focus-within {
    border-color:var(--destaques-color);
  }
  
  .footer .footer-newsletter .newsletter-form input[type=email] {
    border: 0;
    padding: 4px;
    width: 100%;
    background-color: color-mix(in srgb, var(--background-color), transparent 50%);
    color: var(--normal-color);
  }
  
  .footer .footer-newsletter .newsletter-form input[type=email]:focus-visible {
    outline: none;
  }
  
  .footer .footer-newsletter .newsletter-form input[type=submit] {
    border: 0;
    font-size: 16px;
    padding: 0 20px;
    margin: -7px -8px -7px 0;
    background: var(--destaques-color);
    color: var(--link-color);
    transition: 0.3s;
    border-radius: 50px;
  }
  
  .footer .footer-newsletter .newsletter-form input[type=submit]:hover {
    background: color-mix(in srgb, var(--accent-color), transparent 20%);
  }
  
  .footer .footer-newsletter .error-message {
    display: none;
    background: #df1529;
    color: #ffffff;
    text-align: left;
    padding: 15px;
    margin-top: 10px;
    font-weight: 600;
    border-radius: 4px;
  }
  
  .footer .footer-newsletter .sent-message {
    display: none;
    color: #ffffff;
    background: #059652;
    text-align: center;
    padding: 15px;
    margin-top: 10px;
    font-weight: 600;
    border-radius: 4px;
  }
  
  .footer .footer-newsletter .loading {
    display: none;
    background: var(--background-color);
    text-align: center;
    padding: 15px;
    margin-top: 10px;
  }
  
  .footer .footer-newsletter .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid var(--accent-color);
    border-top-color: var(--background-color);
    animation: subscription-loading 1s linear infinite;
  }
  
  @keyframes subscription-loading {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  .footer .footer-top {
    padding-top: 50px;
  }
  
  .footer .social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid color-mix(in srgb, var(--default-color), transparent 50%);
    font-size: 16px;
    color: var(--destaques-color);
    margin-right: 10px;
    transition: 0.3s;
  }
  
  .footer .social-links a:hover {
    color: var(--accent-color);
    border-color: var(--contrast-color);
  }
  
  .footer h4 {
    font-size: 16px;
    font-weight: bold;
    position: relative;
    padding-bottom: 12px;
  }
  
  .footer .footer-links {
    margin-bottom: 30px;
  }
  
  .footer .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer .footer-links ul i {
    margin-right: 3px;
    font-size: 12px;
    line-height: 0;
    color: var(--accent-color);
  }
  
  .footer .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
  }
  
  .footer .footer-links ul li:first-child {
    padding-top: 0;
  }
  
  .footer .footer-links ul a {
    display: inline-block;
    color: color-mix(in srgb, var(--default-color), transparent 20%);
    line-height: 1;
  }
  
  .footer .footer-links ul a:hover {
    color: var(--accent-color);
  }
  
  .footer .footer-about a {
    color: var(--heading-color);
    font-size: 28px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: var(--heading-font);
  }
  
  .footer .footer-contact p {
    margin-bottom: 5px;
  }
  
  .footer .copyright {
    padding-top: 25px;
    padding-bottom: 25px;
    border-top: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
  }
  
  .footer .copyright p {
    margin-bottom: 0;
  }
  
  .footer .credits {
    margin-top: 6px;
    font-size: 13px;
  }
  
  